img {
    width: 15px;
    height: 15px;
}

.buttons {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.button1,
.button2 {
    display: flex;
    background-color: rgb(75, 75, 212);
    color: white;
    padding: 8px;
    width: 75px;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    border-radius: 5px;
}