@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-areas: 
        "main aside"
        "footer footer";
    }

    main {
        grid-area: main;
    }
    #my-projects,
    .project-details,
    #recent-posts,
    #post {
        width: 1114px;
        margin-left: 30px;
        margin-right: auto;
    }

    #my-projects,
    #recent-posts  {
        align-items: flex-start;
    }

    #my-projects h2,
    #recent-posts h2 {
        margin-left: 30px;
    }

    footer {
        grid-area: footer
    }
}

